*{
  margin:0px;
  padding:0px;
}

@font-face {
  font-family:'bungee';
  src: url("../font/bungee.ttf");
}

:root{
  --gray:#393434;
  --smooth_red:#763E3E;
  --red:#A63737;
  --dark:#111111;
  --green:#56CA43;
  --bright_red:#FF0000;
  --ash:#343833;
  --black:#000000;
  --white:#FFFFFF;
}


html{
  font-size:10px;
  font-family:Arial, Helvetica, sans-serif;
}

body{}



  .camlink_container{

    width:100vw;
    height:100vh;
    overflow:hidden;
    display:flex;
    flex-wrap:wrap;
    background:var(--dark);
    color:white;
    box-sizing:border-box;
    font-size:1.6rem;
  }

    .camlink_left{
      width:20%;
      height:100%;
      box-sizing:border-box;
      padding:30px 15px;
      display:flex;
      flex-wrap:wrap;
      flex-direction:column;
      justify-content:space-between;
    }

      .camlink_left>h2{
        margin-bottom:70px;
        font-family:'bungee';
        font-size:2.8rem;
      }

      .navigation{
        margin-top:-130%;
        width:75%;
        font-size:1.8rem;
      }

        .nav{
          margin-bottom:20px;
          border-radius:15px;
          padding:10px 15px;
        }

        a{
          text-decoration:none;
          color:white;
        }

      .camlink_left>p{
        margin-left:50px;
        margin-bottom:20px;
        color:var(--bright_red);
        text-decoration:underline;
      }

    .camlink_right{
      width:80%;
      height:100%;
      box-sizing:border-box;
      padding:100px 15px;
      display:flex;
      flex-wrap:wrap;
      flex-direction:column;
      justify-content:start;
      align-items:center;
      gap:70px;
    }

      .camlink_right_top{
        background:var(--gray);
        border-radius:20px;
        padding:30px;
        width:60%;
        height:33%;
        box-sizing: border-box;
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content: space-around;
        align-items: start;
      }

        .camlink_right_top>p{
          font-size:2rem;
          font-weight:bold;
          margin-bottom:10px;
          
        }

        .linker{
          width:100%;
          color:white;
        }

          .linker>input{
            border:none;
            outline:none;
            width:70%;
            height:40px;
            background:var(--smooth_red);
            box-sizing: border-box;
            border-radius:15px;
            padding:10px 15px;
            color:white;
            font-size:1.9rem;
            opacity:0.6;
          }

          .link{
            border:none;
            outline:none;
            height:40px;
            width:15%;
            font-weight:bold;
            background:var(--green);
            box-sizing: border-box;
            border-radius:13px;
            color:white;
            font-size:2rem;
            margin-left:15px;
          }

      .camlink_right_bottom{
        background:var(--gray);
        border-radius:20px;
        padding:30px;
        width:60%;
        height:33%;
        box-sizing: border-box;
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content: space-around;
        align-items: start;
      }

        .camlink_right_bottom>p{
          font-size:2rem;
          font-weight:bold;
          margin-bottom:10px;
        }

        .start{
          align-self:center;
          border:none;
          outline:none;
          height:50px;
          width:70%;
          font-weight:bold;
          background:var(--green);
          box-sizing: border-box;
          border-radius:13px;
          color:black;
          font-size:2rem;
        }



.selected{
  background:var(--smooth_red);
}