<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=0, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/camlink.css') }}">
</head>
<body>
  
  <div class = "camlink_container">

    <div class="camlink_left">
      <h2>CAMLINK</h2>

      <div class="navigation">
        <div class="nav">Home</div>
        <div class="nav selected">CamLink</div>
        <div class="nav">Screen Share</div>
      </div>
    
      <p>Logout</p>
    
    </div>


    <div class="camlink_right">
      
      <div class="camlink_right_top">
        <p>Join a connection and contribute your camera.</p>

        <div class="linker">
          <input type="text" placeholder="Link Code">
          <button class="link">Link</button>
        </div>
      </div>


      <div class="camlink_right_bottom">
        <p>Start a link to connect and manage cameras.</p>
        
        <button class="start">Start a link</button>

      </div>




      
    </div>









  </div>

  <script src="{{ url_for('static', filename='js/camlink.js') }}"></script>
</body>
</html>