<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=0, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/screenshare.css') }}">
</head>
<body>
  
  <div class = "camlink_container">

    <div class="camlink_left">
      <h2>CAMLINK</h2>

      <div class="navigation">
        <a href="/home/"><div class="nav">Home</div></a>
        <a href="/camlink/"><div class="nav">CamLink</div></a>
        <a href="/screenshare/"><div class="nav selected">Screen Share</div></a>
      </div>
    
      <p>Logout</p>
    
    </div>


    <div class="camlink_right">
      
      <div class="camlink_right_top">
        <p>Watch a screen being shared.</p>

        <div class="linker">
          <input type="text" placeholder="Link Code">
          <button class="link">Link</button>
        </div>
      </div>


      <div class="camlink_right_bottom">
        <p>Share your screen for others to watch.</p>
        
        <button class="start">Share Screen</button>

      </div>




      
    </div>









  </div>

  <script type="module" src="{{ url_for('static', filename='js/ip.mjs') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/screenshare.mjs') }}"></script>
</body>
</html>